html, body{
    height: 100%;
    width: 100%;
    background-color: lightblue;
}

.button{
    width: 66%px;
    padding: 30px; 
    margin: 0 30x ;
    border: 2px solid black;
    border-radius: 400px;
    cursor: pointer;
    border-style: none;
}
.row{
    margin: 8px 0;
}
.row input{
    font-size: 23px;
    margin:  0;
    padding: 10px 0px;
    border: 2px solid black;
    border-radius: 5px;
}
